{% extends 'base.html' %}
{% load static i18n %}
{% block content %}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="{% url 'pages:home' %}">{% trans "Asosiy" %}</a></li>
                    <li>{% trans "O'simliklar" %}</li>
                </ol>
                <h2>{% trans "O'simliklar" %}</h2>

            </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">{% trans "Hammasi" %}</li>
                            <li data-filter=".filter-app">App</li>
                            <li data-filter=".filter-card">Card</li>
                            <li data-filter=".filter-web">Web</li>

                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "App" %} 1</h4>
                                <p>{% trans "App" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/portfolio/portfolio-1.jpg' %}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "Web" %} 3</h4>
                                <p>{% trans "Web" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "App" %} 2</h4>
                                <p>{% trans "App" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/portfolio/portfolio-3.jpg' %}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "Card" %} 2</h4>
                                <p>{% trans "Card" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/portfolio/portfolio-4.jpg' %}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "Web" %} 2</h4>
                                <p>{% trans "Web" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/portfolio/portfolio-5.jpg' %}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "App" %} 3</h4>
                                <p>{% trans "App" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/portfolio/portfolio-6.jpg' %}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "Card" %} 1</h4>
                                <p>{% trans "Card" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "Card" %} 3</h4>
                                <p>{% trans "Card" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/portfolio/portfolio-8.jpg' %}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "Web" %} 3</h4>
                                <p>{% trans "Web" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/portfolio/portfolio-9.jpg' %}"
                                       data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->
    </main><!-- End #main -->
{% endblock content %}